html, body{
	margin: 0;
	padding: 0;
    height: 100%;
}
ul, li{
	margin: 0;
	padding: 0;
}
button{
    
}

body, input, button, textarea, select{
    font-size: 13px;
    line-height: 1.5;
}
input, button, select{
    vertical-align: middle;
}

.wrapper{
    position: relative;
    overflow: hidden;
    height: 100%;

    /* for test */
    width: 320px;
    border-right: 1px dotted #339;
}
.container{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.toolbar{
    padding: 5px;
}
.global-masker{
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.global-loading{
    background: url(../images/loading2.gif);
    width: 110px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -55px;
}
.list-loading{
    background: url(../images/loading1.gif);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
/******************* bill list ************************************/
.bill-list{
    counter-reset: billcounter;
}
.bill-item{
    margin: 5px 0;
    padding: 0 5px;
}
.bill-item:before{
    content: counter(billcounter)".";
    counter-increment: billcounter;
}
.bill-item:nth-child(2n){
    background: #fceacb;
}
.bill-item > div{
    display: inline-block;
    vertical-align: middle;
}
.bill-item .sign, .bill-item .label{
    color: grey;
}

.bill-item .label{
    font-style: italic;
    margin-right: 3px;
}
.bill-item .money{
    width: 25%;
}
.bill-item .date{
    width: 30%;
}
.bill-item .category{

}
.bill-item .tags, .bill-item .remark{
    display: block;
}

/*************** bill form ************************************/
.bill-form-container{
    width: 100%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 100%;

    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: top .5s ease-out;
    display: none;
}

.bill-form-container.show{
    /*TODO blog=>animation-fill-mode: forwards;*/
    top: 0;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    
}
.bill-form{
    background: #fff;
    margin: 10px 10px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.bill-form .titlebar{
    text-align: center;
    background: #e62e25;
}
.bill-form .body{
    padding: 5px;
}
.bill-form .body > div{
    margin: 5px;
}
.bill-form .sign, .bill-form .label{
    width: 20%;
    text-align: right;
    display: inline-block;
    margin-right: 10%;
}
.bill-form .content{
    display: inline-block;
}
.bill-form .category .label{
    vertical-align: middle;
}
.bill-form .cate-new{

}
.bill-form .checkbox{
    display: none;
}
.bill-form .checkbox + label{
    width: 24px;
    height: 12px;
    display: inline-block;
    border: 1px solid #959595;
    margin: 3px;
    vertical-align: middle;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.bill-form .checkbox + label span{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background: -webkit-linear-gradient(top, #5071F5, #0E38E7);
    -webkit-transition: left 0.1s;
    border-radius: 2px 0 0 2px;
}
.bill-form .checkbox ~ select{
    display: none;
}
.bill-form .checkbox ~ .cate-out{
    display: inline-block;
}
.bill-form .checkbox:checked + label span{
    left: 50%;
    border-radius: 0 2px 2px 0 ;
}
.bill-form .checkbox:checked ~ .cate-in{
    display: inline-block;
}
.bill-form .checkbox:checked ~ .cate-out{
    display: none;
}
.bill-form .remark .label{
    vertical-align: top;
}
.bill-form .remark textarea{
    width: 170px;
    overflow-y: auto;
}
.bill-form .toolbar{
    text-align: right;
}