<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="touch-icon.png" />
    <title>TallyBook2</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="wrapper">
    <div class="toolbar">
        <input id="dateInput" type="date"/><button cmd="createBill">New</button>
    </div>
    <div id="billListContainer" class="bill-list-container">
        <ul id="billList" class="bill-list"></ul>
    </div>
</div>
    

<script id="billItemTmpl" type="text/plain">
    <% 
        var bill;
        for(var l in list){ 
            bill = list[l];
    %>
        <li class="bill-item" id="billItem<%=bill.id%>">
            <div class="money"><span class="sign">￥</span><span class="amount"><%=bill.amount%></span></div>
            <div class="date"><span class="sign">@</span><span class="occurred-time"><%=bill.occurredTime%></span></div>
            <div class="category"><span class="label">Cate</span><span class="content"><%=bill.cate%></span></div>
            <div class="tags"><span class="label">Tags</span>
                </span><span class="tags-item"><%=bill.tags%></span>
            </div>
            <div class="remark"><span class="label">Desc</span><div class="content"><%=bill.remark%></div></div>
        </li>
    <% } %>
</script>


<script src="../lib/jquery/jquery-1.6.4.js"></script>

<script src="js/ztool.all.js"></script>

<script src="js/tallybook.js"></script>
<script src="js/tallybook.config.js"></script>
<script src="js/tallybook.controller.js"></script>
<script src="js/tallybook.view.js"></script>
<script src="js/tallybook.model.js"></script>
<script src="js/tallybook.net.js"></script>
<script src="js/tallybook.start.js"></script>

